.connect-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .connect-button:hover {
    background-color: #0056b3;
  }